<nav class="navi">
	<div class="item" ng-class="{selected:$ctrl.currentPlace === 'data-entry'}" ng-click="$ctrl.select('data-entry')">Data Entry</div>
	<div class="item" ng-class="{selected:$ctrl.currentPlace === 'B'}" ng-click="$ctrl.select('B')">B</div>
	<div class="item" ng-class="{selected:$ctrl.currentPlace === 'C'}" ng-click="$ctrl.select('C')">C</div>
	<div class="item" ng-class="{selected:$ctrl.currentPlace === 'D'}" ng-click="$ctrl.select('D')">D</div>
	<div class="item" ng-class="{selected:$ctrl.currentPlace === 'E'}" ng-click="$ctrl.select('E')">E</div>
	<div class="item" ng-class="{selected:$ctrl.currentPlace === 'F'}" ng-click="$ctrl.select('F')">F</div>
</nav>